*{box-sizing:border-box;margin:0;padding:0;}

:root {
    --main-bg-color: #fff;
    --main-text-color: rgb(60, 60, 60);
    --secondary-text-color: rgb(120, 120, 120);
    --main-color: rgb(180,180,180);
    --main-color-opacity: rgb(180,180,180, 0.5);
}


body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden{
    display:none;
}
.invisible{
    visibility: hidden;
}

/* Choose a user name */
#user-name-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user-name-input-container{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
#user-name-input{
    height: 30px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1em;
}
#start-button{
    height: 30px;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1em;
}

/* Structure Page*/
#display-main{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 40px;
    margin: 0px 80px;
}
#display-big {
    background-color: white;
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 220px ;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#display-small{
    background-color: white;
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 220px ;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*Game Page*/
#all-buttons {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row: auto;
}
#all-buttons button {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 40px;
}
#hms {
    color: red;
    float: left;
    margin-left: 30px;
    font-size: 30px;
}
#title-guess {
    text-align: right;
    margin-right: 40px;
    font-size: 28px;
}
#display-big img {
    height: 300px;
}
#word-guess {
    border-bottom: dashed black 19.9px;
    font-size: 80px;
    float: right;
    margin-right: 150px;
    margin-top: 120px;
}
#word-split-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;
    float: right;
    margin-right: 20%;
    margin-top: 80px;
}
.underline {
    border-bottom: 5px solid black;
    margin: 5px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
/*Score Page*/
#display-small h1 {
    text-align: left;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 50px;
}
#display-small h2 {
    text-align: left;
    margin-left: 10%;
}
#display-small h3{
    color: rgb(120, 120, 120);
    text-align: left;
    margin-left: 10%;
}
.ranking-time{
    text-align: left;
    padding-left: 25px;;
}

/*Play again Page*/
#again-button {
    height: 30px;
    border: none;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    border-radius: 5px;
    font-weight: bolder;
}
#you-won {
    margin-top: 20%;
}
#you-lost {
    margin-top: 20%;
}

/* show / not show */
.show {
    display: block;
}
.notShow {
    display: none !important;
}


/* MEDIA */
@media only screen and (max-width: 1100px) {
    #display-main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin: 0px 40px;
    }
    #display-big{
        margin-top: 20px
    }
    #display-small{
        margin-top: 20px ;
    }
    #all-buttons {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row: auto;
    }
}