body {
    background-color: grey;

/* Structure Page*/
}
#display-main{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 40px;
    margin: 0px 80px;
}
#display-big {
    background-color: white;
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 220px ;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#display-small{
    background-color: white;
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 220px ;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
@media only screen and (max-width: 900px) {
    #display-main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin: 0px 40px;
    }
    #display-big{
        margin-top: 20px
    }
    #display-small{
        margin-top: 20px ;
    }
}