:root {
    --main-bg-color: #fff;
    --main-text-color: rgb(60, 60, 60);
    --secondary-text-color: rgb(120, 120, 120);
    --main-color: rgb(115,155,224);
    --main-color-opacity: rgb(115,155,224, 0.5);
  }


body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;

/* Structure Page*/
}
#display-main{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 40px;
    margin: 0px 80px;
}
#display-big {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 220px ;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#display-small{
    background-color: white;
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 220px ;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
@media only screen and (max-width: 900px) {
    #display-main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin: 0px 40px;
    }
    #display-big{
        margin-top: 20px
    }
    #display-small{
        margin-top: 20px ;
    }
}
/* Choose a user name */
#user-name{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
#start-button{
    height: 30px;
    border: none;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    border-radius: 5px;
    font-weight: bolder;
}